{% extends "base.html" %}

{% block main %}
<div class="container">
    <form method="POST"  enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputFile"><img class="zoom" src="{{ url_for('static', filename=item.photo) }}" height = 100 alt="ph" /></label>
            <input type="file" name="inputFile">
            <input type="text" class="form-control" name="title" value="{{item.title}}" placeholder="title">
            <textarea type="text" class="form-control" name="description" rows="10" placeholder="description">{{item.description}}</textarea>
            <input type="number" class="form-control" name="price" value="{{item.price}}" placeholder="price">
            <input type="number" class="form-control" name="amount" value="{{item.amount}}" placeholder="amount">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>
{% endblock %}