{% extends "base.html" %}

{% block main %}
<div class="container">
    <form method="POST"  enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputFile"><img class="zoom" src="{{ url_for('static', filename=bike.photo) }}" width = 100 alt="ph" /></label>
            <input type="file" name="inputFile">
            <input type="text" class="form-control" name="title" value="{{bike.title}}" placeholder="title">
            <textarea type="text" class="form-control" name="description" rows="10" placeholder="description">{{bike.description}}</textarea>
            <input type="text" class="form-control" name="wheels" value="{{bike.wheels}}" placeholder="wheels size">
            <input type="number" class="form-control" name="size" value="{{bike.size}}" placeholder="bike size">
            <input type="number" class="form-control" name="price" value="{{bike.price}}" placeholder="price">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>
{% endblock %}